# dependencies
node_modules

# next
.next
out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
.env

# OS / editor
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode
.idea

# misc
*.tsbuildinfo
